/* Start Global Rules */
* {
    box-sizing: border-box;
}

:root{
    /* font-size */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;
    --fs-48: 3rem;

    /* font-weight */
    --fw-400: 400;
    --fw-700: 700;

    /* font-color */
    --clr-primery:#333333;
    --clr-rose: #EB7E5B;
    --clr-grey: #868686;
    --clr-green:#56AF09;
    --clr-orang:#FFB200;
    --clr-blue: #329E91;




    /* background-color */
    --bg-clr-rose :#EB7E5B;;
    --bg-clr-grey: #E2E1E180;
    --bg-clr-footr: #302F30;
    --bg-clr-gradiend: linear-gradient(86.08deg, #326407 0%, #CC981E 113.36%, #FFB200 113.37%);

    --bg-clr-roseBtnNav: rgba(235, 126, 91, 0.3);
    --bg-clr-roseBtn: rgba(254, 184, 162, 0.2);

    --bg-clr-greenBtn: rgba(86, 175, 9, 0.2);
    --bg-clr-greenBtnNav: rgba(58, 122, 3, 0.4);

    --bg-clr-orangnBtn:  rgba(255, 193, 0, 0.2);
    --bg-clr-orangBtnNav: rgba(231, 139, 32, 0.4);

    --bg-clr-blueBtn:  rgba(50, 158, 145, 0.2);
    --bg-clr-blueBtnNav: rgba(50, 158, 145, 0.4);

}

.roseBtnNav{
    background-color: var(--bg-clr-roseBtnNav);
    padding: 10px 20px;
    border-radius: 8px;
  }
  .roseBtn{
    background-color: var(--bg-clr-roseBtn);
  }
  
  /* classes font size */
  .fs-14{
    font-size: var(--fs-14);
  }
  .fs-16{
    font-size: var(--fs-16);
  }
  .fs-36{
    font-size: var(--fs-36);
  }
  .fs-48{
    font-size: var(--fs-48);
  }
  
  .text-clr-rose{
    color: var(--clr-rose)
  }
  .txt-wt{
    color: #fff;
  }
  .fw-400{
    font-weight: 400;
  }
  
  /* classes color */
  .text-clr-primery{
    color: var(--clr-primery);
  }
  .text-clr-grey{
    color: var(--clr-grey)
  }
  
  .ma-0{
    margin: 0;
  }
  
  .pd-0{
    padding: 0;
  }
  
  .p-10{
    padding: 10px;
  }
  .p-20{
    padding: 20px;
  }
  .p-rd8{
    border-radius: 8px;
  }
  .p-t-b50{
    padding: 50px 0;
  }
  
  
  
  /* end genaral */
  
  .d-grid{
      display: grid;
  }
  .flex{
    display: flex;
  }
  .d-flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .d-block {
    display: block !important;
  }

  .txt-c{
    text-align: center;
  }
  
  body{
      font-family: 'Oleo Script Swash Caps', cursive;
      font-family: 'Inter', sans-serif;
      overflow-x: hidden;
      min-height: 100vh;
  }
  .text_fm_Oleo{
    font-family: 'Oleo Script Swash Caps', cursive;
  }

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: #fff;
}

ul {
    padding:0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    position: relative;
    padding: 12px 18px;
    border-radius: 20px;
    background: linear-gradient(86.08deg, #326407 0%, #CC981E 113.36%, #FFB200 113.37%);
    color: #FFFFFF;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

button:hover::before {
    content: "";
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

button:hover > a {
    color: #333333;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;
}

.section-title {
    font-family: 'Oleo Script Swash Caps', 'cursive';
    width: fit-content;
    color: #333333;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
}

.section-title::after {
    content: "";
    width: 80%;
    height: 3px;
    background: #E58C21;
    position: absolute;
    left: 13%;
    bottom: -5px;
    z-index: 1;
}

.section-p {
    width: 760px;
    height: 34px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: auto;
    color: #868686;
    margin-bottom: 50px;
} 
/* Start Global Rules */
/* Start Grid Rules */

/* X-Small Screen */

@media (min-width: 576px) {
    .container {
    width: 568px;
    }
}

/* Small Screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* X-Large Screen */

@media (min-width: 1400px) {
    .container {
        width: 1295px;
    }
}

/* End Grid Rules */
/* start header */
header {
    position: fixed;
    top: 0;
    z-index: 10000;
    right: 0;
    width: 100%;
  }

.head_clr{
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 7px 0;
}


nav{
  position: relative;

}

.primary__nav li a,
.logo a{
  color: #fff;
  display: block;
  padding: .5rem 0;
  background: #06060680;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.mob-menu div{
  width: 25px;
  height: 3px;
  background: var(--clr-rose);
  top: 10px;
  margin: 4px 0;
}
.mob-menu{
  display: none;
}

.primary__nav {
  width: 670px;
  display: flex;
  justify-content: space-evenly;
}
.primary__nav li {
  margin-right: 30px;
  transition: ease-in-out 0.5s;
}
.primary__nav li:last-child {
  margin-left: auto;
  margin-right: 0;
}
header .navbar.open,
header .navbar ul li ul.open{
display: block;
}

.nav2_btn {
  position: relative;
}
.second__nav{
  position: absolute;
  left: 0;
  top: 65px;
  display: none;
  z-index: 999;
}


.nav2_btn::after{
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  border: 5px solid transparent;
  border-top: 5px solid white;
}

@media (min-width: 768px ){
  .primary__nav li{
    width: 6rem;
  }
  .logo .logo_img{
    width: 18px;
  }
  .logo a{
    width: 9rem;
    padding-left: 8px;
    font-weight: 700;
    font-size: 1.1rem;
  }
  .primary__nav li a{
    font-size: 1.1rem;
    border-radius: 12px;
    text-align: center;
    width: 7rem
  }

  li.phone a{
    width: 3rem;
    margin-left: auto;
  }
  .icon_phone{
    display: block;
    width: 1.7rem;
    margin: 0 auto;
  }
  .navbar .primary__nav li:hover a{
    background: var(--bg-clr-gradiend);
  }
  .navbar .primary__nav li:hover ul li a{
    background: #06060680;
  }
  .navbar .primary__nav li:hover ul li:hover a{
    background: var(--bg-clr-gradiend);
  }
  .second__nav li{
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  .second__nav li a{
    font-size: var(--fs-14);
    color: #f7f6f6;
    padding: .8rem 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
}
@media (max-width: 767px ) {
  .contanier{
      width: 720px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: auto;
      margin-left: auto;

  }
  .mob-menu {
    display: block;
    position: absolute;
    right: 21px;
    top: 25%;
    cursor: pointer;
  }
  a{
    color: white;
  }
  
  .logo .logo_img{
    width: 18px;
  }
  header .logo a{
    width: 8rem;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 8px;
  }
  nav{
    position: relative;

  }
  .primary__nav{
    width: 100%;
  }
  header .navbar{
  position: absolute;
  top: 100%;
  left: 100%;
  right: 0;
  z-index: 9999;
  background: #1b1b1b;;
  overflow: hidden;
  transition: all ease-in-out .3s;
  height: 100vh;
  }

  header .navbar.open,
  header .navbar ul li ul.open{
  left: 0;
  display: block;
  }

  nav ul li{
      width: 100%;
      line-height: 50px;
      border-bottom: 1px solid rgba(225, 225, 225, 0.1);

  }
    nav ul li a{
    color: #fff;
    text-decoration: none;
    padding-left: 40px;
    display: block;
    width: 100%;
    font-size: 18px;
    border-left: 3px solid transparent;
  }
  .primary__nav li a{
    color: #fff;
    display: block;
    padding: .7rem 10px;
    background-color: var(--bg-clr-roseBtnNav);
    border-radius: 8px;
  }
  
  .nav2_btn::after{
    top: 35px;
    left: 71px;
    right: 100%;
  }
  .primary__nav li a {
    background-color: initial;
  }
  header .navbar ul li a .icon_phone{
    width: 35px;
    height: 60px;
    object-fit: contain;
    }
    header .navbar ul li:hover a{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
  }

  header .navbar ul li:hover ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
  }
  header .navbar ul ul li a:hover{
    color: cyan !important;
    background: #1e1e1e !important;
  }

  header .navbar ul li ul{
    position: static;
    width: 100%;
    display: none;
  }

  nav ul ul li{
    line-height: 42px;
    border-bottom: none
  }
  header .navbar ul li ul li a{
  padding-left: 60px;
  font-size: 14px;
  }

  nav .primary__nav{
    display: block;
  }
  .primary__nav .menu::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 5px;
    border: 5px solid transparent;
    border-top: 5px solid white;
  }
}

@media (min-width: 765px)and (max-width: 960px) {
  .primary__nav {
    width: 400px;
  }
  header .logo a{
    width: 8rem;
    font-weight: 700;
  }
  .primary__nav li a, .logo a {
    font-size: 1rem;
    width: 5rem;
  }
  .logo .logo_img{
    width: 18px;
  }
  header .logo a{
    width: 8rem;
    font-weight: 700;
    font-size: 1rem;
  }
  li.phone a{
    width: 3rem;
  }
  .icon_phone{
    display: block;
    width: 1.5rem;
    margin: 0 auto;
  }
  
  .nav2_btn::after {

    content: "";
    position: absolute;
    top: 18px;
    right: 4px;
    border: 5px solid transparent;
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 5px;
    border-top: 5px solid white;

}
  .second__nav li a{
    font-size: 0.855rem;
    width: 5rem;
    padding: .6rem 0;
  }
}
@media (min-width: 961px) and (max-width: 1061px){
  .primary__nav{
    width: 580px;
  }
  
}
/* end header */
/* Start Landing Section */
.landing-section {
    padding-top: 100px;
    background-image: url(../img/about-us-landing.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;
}

.landing-section::before {
    content: "";
    position: absolute;
    background-color: rgba(69, 68, 68, 0.61);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing-section .container {
    position: relative;
}

.landing-section .container h1 {
    color: #FFFFFF;
    margin-top: 0;
    font-family: 'Oleo Script Swash Caps', 'cursive';
    font-size: 64px;
    font-weight: 400;
    line-height: 89px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-section .container p {
    width: 662px;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: left;
}
/* End Landing Section */
/* Start Our Story Section */
.our-story {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.our-story::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    left: -475px;
    top: -100px;
    background: rgba(254, 215, 151, 0.54);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-story::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 406px;
    height: 364px;
    right: -200px;
    top: 0px;
    background: rgba(254, 215, 151, 0.54);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-story .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 30px;
}

.our-story .container .left p {
    width: 450px;
    height: 346px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #868686;
}

.our-story .container .right {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 10px;
}

.our-story .container .right .left-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.our-story .container .right .left-imgs img {
    height: 185px;
    border-radius: 10px;
}

.our-story .container .right .right-imgs img {
    height: 380px;
    border-radius: 10px;
}
/* End Our Story Section */
/* Start Our values */
.our-values {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F0F0F0;
    position: relative;
}

.our-values .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 40px;
}

.our-values .container .background-img {
  position: absolute;
  top: -200px;
  left: -50px;
  z-index: 0;
}

.our-values .container .value {
    position: relative;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
}

.our-values .container .value h4 {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #333333;
    margin-top: 0;
}

.our-values .container .value p {
    width: 231px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #868686;
    margin: auto;
}

.our-values .section-title {
    color: black;
}

.our-values .section-title::after {
    background-color: #E78B20;
}
/* End Our values */
/* Start Our Team */
.our-team {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.bckg-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 392px;
  height: 365px;
  left: -8px;
  top: -35px;
  background: rgba(254, 215, 151, 0.59);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.bckg-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    right: 0%;
    top: -27%;
    background: rgba(254, 215, 151, 0.59);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-team .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 40px;
}

.our-team .container .person {
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 50px;
}

.our-team .container .person img {
    object-fit: cover;
    width: 135px;
    height: 135px;
    margin-bottom: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-team .container .person .stars {
    margin-bottom: 10px;
}

.our-team .container .person .stars > i {
    color: goldenrod;
}

.our-team .container .person p {
    width: 231px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #263238;
    margin: auto;
}

.our-team .container .person h4 {
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
    font-size: 24px;
}

.our-team .section-title {
    color: black;
}

.our-team .section-title::after {
    background-color: #E78B20;
}
/* End Our Team */
/* Start Our Image */
.our-image {
    background-image: url(../img/our-image.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.our-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(67, 65, 65, 0.5);;
}
/* End Our Image */
/* start footer */

footer{
    background-color: #302F30;
  }
  footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
  }
  .logo_footer p{
    width: 31ch;
  }
  
  .subscribe h3{
    margin-bottom: 10px ;
  }
  .subscribe form{
    display: flex;
    flex-direction: column;
  }
  .subscribe form input[type="email"]{
    background-color: #3a393a;
    padding: 13px 0;
    border: 0;
    margin-bottom: 20px;
    padding-left: 18px;
    font-size: 20px;
    color: #fff;
    outline: none;
  }
  .subscribe form input[type="email"]::placeholder {
    color: white;
  }
  .subscribe form input[type="submit"]{
    padding: 13px 0;
    background: var(--bg-clr-gradiend);
    border: 0;
    color: #fff;
    font-size: var(--fs-24);
    cursor: pointer;
  }
  /* end footer */
/* Start Grid */

/* Large Screen */

@media (max-width: 1199px) {
  .our-team .bckg-1 {
    bottom: 0;
    left: -100px;
    top: auto;
  }
} 

/* Medium Screen */

@media (max-width: 991px) {
    .our-story .container .left p {
        width: 350px;
    }

    .our-story .container .right {
        display: grid;
        grid-template-columns: repeat(2, minmax(165px, 1fr));
        justify-content: space-between;
        gap: 10px;
    }

    .our-story .container img {
        object-fit: cover;
    }

    .our-values .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        justify-content: space-between;
        gap: 25px;
    }

    .our-team .container {
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        gap: 20px;
    }

    .our-team .bckg-1 {
      display: none;
    }
}

/* Small Screen */

@media (max-width: 767px) {
    .landing-section .container p {
        width: 430px;
    }

    .section-p {
        width: 560px;
    }

    .our-story .container .left p {
        width: 280px;
    }

    .our-values .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(160px, 1fr));
        justify-content: space-between;
        gap: 10px;
    }

    .our-values .container .background-img {
      display: none;
    }

    .our-values .container .value p {
        width: 165px;
    }

    .our-story .container .right {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
        gap: 5px;
    }

    .our-story .container .right .left-imgs {
        gap: 5px;
    }

    .our-story .container .right .right-imgs img,
    .our-story .container .right .left-imgs img {
        height: 100%;
    }

    .our-story .container .left p {
        width: auto;
        height: auto;
    }
    
    .our-team .container {
        grid-template-columns: repeat(3, minmax(160px, 1fr));
        gap: 10px;
    }

    .our-team .container .person p {
        width: 155px;
    }

    .our-team .bckg-1 {
      display: flex;
      bottom: 378px;
      right: -113px;
      left: auto;
  }

    .our-team .bckg-2 {
      top: 0%;
    }
}

/* X-Small Screen */

@media (max-width: 575px) {
    .container {
        width: 320px;
    }

    .landing-section .container h1 {
        margin: auto;
        text-align: center;
    }

    .landing-section .container p {
        width: fit-content;
        margin: auto;
        text-align: center;
    }

    .our-story::before {
        left: -600px;
        top: -250px;
    }

    .our-story::after {
        right: -233px;
        top: 314px;
    }

    .our-story .container {
        display: block;
        text-align: center;
    }

    .our-story .container .right {
        display: none;
    }

    .our-values .container,
    .our-team .container {
        display: block;
    }

    .our-values .container .value,
    .our-team .container .person {
        margin: 15px;
        padding-bottom: 10px;
    }

    .our-team .container .person p {
        width: 224px;
        font-size: 16px;
    }

    .our-team::before {
        right: 5%;
        top: 7%;
    }

    .our-team::after {
        left: -8px;
        top: 1076px;
    }

    .section-title {
        font-size: 30px;
    }

    .section-p {
        width: 300px;
        font-size: 12px;
    }
}
/* End Grid */